<div class="footer-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <footer>
        <div>
          <p>
            Yathit &copy; 2017 | 683A Jurong West Central 1, #09-118 Singapore 641683
          </p>
          <p>
            <a href="https://www.yathit.com/index.html">Yathit</a> |
            <a href="https://www.yathit.com/sugarcrm-gmail/index.html">Support</a> |
            <a href="https://www.yathit.com/blogs/">Blogs</a> |
            <a href="https://www.yathit.com/privacy.html">Privacy</a> |
            <a href="https://www.yathit.com/security.html">Security</a> |
            <a href="https://www.yathit.com/terms.html">Terms</a>
          </p>
        </div>
      </footer>
    </div>
  </div>
</div>
</div>

