<div class="wrapper">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://www.yathit.com/index.html">Yathit</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://www.yathit.com/pricing.html">Pricing</a></li>
          <li><a href="https://www.yathit.com/sugarcrm-gmail/tutorial-videos.html">Learn</a></li>
          <li><a href="https://www.yathit.com/sugarcrm-gmail/index.html">Support</a></li>
          <li><a href="#login" id="login">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
